
.detailed-layout__main {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.08) inset;
  transition: box-shadow 0.2s linear, border-color 0.2s linear,
  background-color 0.2s linear;
}

.gallery {
  box-sizing: border-box;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gallery__items {
  padding: 20px 20px 10px 20px;
}

.gallery .gallery-item {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 125px;
  height: 125px;
  min-width: 100px;
  max-width: 150px;
  margin-bottom: 10px;
  margin-right: 15px;
  font-size: 14px;
  vertical-align: top;
  transition: 0.3s ease;
}

.gallery .gallery__item-inner {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: width 0.2s, height 0.2s, max-width 0.2s, min-width 0.2s;
}

.gallery .gallery__item-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.gallery-icon {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid #cdd4db;
  border-radius: 5px;
}

.gallery-icon--upload {
  border: 2px solid #cdd4db;
  transition: background-color 0.1s linear;
  text-align: center;
}

.gallery-icon-first {
  border: 2px dashed #068eef;
}

.gallery-icon--upload .icon i {
  font-size: 32px;
  color: #9dabba;
  /*color: #068eef;*/
}
.active-item .gallery-icon--upload .icon i {
  font-size: 32px;
  /*color: #eef1f3;*/
  color: #068eef;
}

.active-item {
  cursor: pointer;
}

.active-item .gallery-icon__text {
  color: #068eef;
}

.active-item:hover .gallery-icon--upload {
  border-color: #0463a7;
}

.active-item:hover .gallery-icon--upload .icon {
  color: #0463a7;
}

.gallery-icon__text {
  text-align: center;
  color: #9dabba;
}

.detailed-layout__main {
  margin: 0 -15px;
}

.gallery-icon .gallery-icon__text {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
  padding: 0 4px 8px;
  /*color: #8f9fb0;*/
  font-size: 12px;
  line-height: 1;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

.gallery-icon--upload .gallery-icon__text-first {
  color: #068eef;
  transition: color 0.1s linear;
}

.gallery-icon__text {
  /*color: #068eef;*/
  transition: color 0.1s linear;
}

.gallery-icon__icon {
  color: #068eef;
  transition: color 0.1s linear;
}

.gallery-icon .icon {
  padding: 30px;
}

.gallery-icon .gallery-icon__icon {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  /*width: 100%;*/
  /*height: 100%;*/
  border-radius: 3px;
}

.a-card {
  position: relative;
  box-sizing: border-box;
  margin: 20px -15px 16px -15px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.08) inset;
  transition: box-shadow 0.2s linear, border-color 0.2s linear,
  background-color 0.2s linear;
}

.rowable {
  display: flex;
  justify-content: space-between;
}

.rowable .rowable__item {
  flex: 1;
  margin-right: 8px;
}

.form-area__title {
  font-weight: 700;
  font-size: 16px;
  /*transition: 0.3s ease;*/
  color: #53575a;
  margin-bottom: 8px;
}


.form-area__content input {
  display: inline-block;
  position: relative;
  width: 100%;
  border: 1px solid #b6c1cc;
  outline: 0;
  background-color: #f9fafb;
  color: #24282c;
  text-align: left;
  vertical-align: middle;
  transition: color .1s linear, background-color .1s linear, border-color .1s linear, box-shadow .1s linear;
  cursor: text;
  box-shadow: 0 1px 1px rgba(0,0,0,0.07) inset;
  height: 40px;
  padding: 2px 9px 3px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 19px;
}


.product-delivery-checkbox {
  display: flex;
  align-items: center;
  width: 85%;
  font-size: 12px;
  color: #8f9fb0;
}

.product-delivery-checkbox input {
  width: 20px;
}

.fieldsets-batch textarea {
  width: 100%;
  height: 210px;
  display: inline-block;
  position: relative;
  border: 1px solid #b6c1cc;
  outline: 0;
  background-color: #f9fafb;
  color: #24282c;
  text-align: left;
  vertical-align: middle;
  transition: color .1s linear, background-color .1s linear, border-color .1s linear, box-shadow .1s linear;
  cursor: text;
  box-shadow: 0 1px 1px rgba(0,0,0,0.07) inset;
  border-radius: 5px;
  font-size: 14px;
  line-height: 19px;
  padding: 10px 20px;
}

.gallery .gallery-item:last-child {
  margin-right: 0px;
}

@media (max-width: 1200px) {
  .gallery .gallery-item {
    margin-right: 6px;
  }
}


